{% extends "webApp/base.html" %}

{% block content %}

<main>
  <div class="container">

    <section class="my-5">
      <h1 class="text-center">Welcome to the Patient Dashboard</h1>

      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card my-5">
            <div class="card-body text-center">
              <img src="{{  patient.user.profile.profile_pic.url }}"style="height:14rem ;width: 15rem;margin: auto; margin-top: 4px ;" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
              <h3>{{ user.first_name }} {{ user.last_name }}</h3>
              <p class="text-muted"><strong>username:</strong>{{ user.username }}</p>
              <p class=" text-muted"><strong>e-mail:</strong>{{ user.email }}</p>
              <hr>
              <ul class="list-unstyled">
                <li><strong>Address:</strong> {{ user.address.line1 }}, {{ user.address.city }}, {{ user.address.state }}, {{ user.address.pincode }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main>

{% endblock %}
